@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-primario: #607848;
    --color-secundario: #789048;
    --color-terciario: #c0d860;
    --color-cuaternario: #f0f0d8;
    --color-quinto: #604848;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: var(--color-secundario);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

a {
    text-decoration: none;
}



/* HEADER */

.nav-bar{
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-principal {
    color: white;
    font-size: 2.5rem;
    margin: 20px;
}

.nav-bar_container {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.button-nav {
    padding: 15px;
    background-color: var(--color-secundario);
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    border: none;

    transition: all 0.2s ease;
}
.button-nav:hover {
    background-color:darkgreen;
    scale: 1.2;
}

/* AÑADIR TAREAS */

taskadd-form {
    width: 80%;
    margin-top: 2%;
}

.contenedor-botones_generales {
    margin: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenedor-anadir_tareas {
    background-color: var(--color-terciario);
    padding: 30px;
    border-radius: 10px;
}

.contenedor-subtitulo {
    color: var(--color-quinto);
    text-align: center;
}

.contenedor-formulario_anadir {
    padding: 30px;
    border: solid 3px var(--color-quinto);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contenedor-anadir_nombre {
    width: 100%;
    border: solid 2px var(--color-cuaternario);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.input {
    width: 80%;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--color-quinto);
}

.contenedor-anadir_fecha {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: solid 2px var(--color-cuaternario);
    padding: 20px;
    border-radius: 10px;
}

.contenedor-inputs, .contenedor-inputs_fechas {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-primario);
    padding: 20px;
    border-radius: 10px;
}
.contenedor-label {
    font-size: 1.2rem;
    color: #283618;
    border-right: 2px double var(--color-cuaternario);
    border-bottom: 0;
    width: 15%;
}
.contenedor-label_fechas {
    border-bottom: 2px double white;

}
.contenedor-inputs_fechas {
    color: white;
    font-size: 1.5rem;
}

.input-fecha {
    width: 100%;
}

.contenedor-anadir_descripcion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: solid 2px var(--color-cuaternario);
    padding: 20px;
    border-radius: 10px;
    
}
.contenedor-label_descripcion {
    border-bottom: none;
    border-right: solid 2px var(--color-cuaternario);
    padding: 8px;
    display: flex;
}
.input-descripcion {
    width: 80%;
    height: 100px;
    resize: none;
    border-radius: 10px;
    border: solid 2px var(--color-quinto);
}


.contenedor-anadir_importancia {
    width: fit-content;
    border: solid 2px var(--color-primario);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.contenedor-label_importancia {
    border-bottom: none;
    border-right: solid 2px var(--color-cuaternario);
    padding: 20px;
    width: 200px;
}
.contenedor-input_importancia {
    padding: 15px;
    margin: 5px;
}
.input-importancia {
    width: 100%;
    padding: 13px;
    border: none;
    background-color: white;
    border-radius: 10px;
    border: solid 2px var(--color-terciario);
}
.input-importancia:hover {
    border: solid 2px red;
}

.input-enviar_tarea {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-enviar {
    padding: 15px;
    background-color: var(--color-primario);
    border: solid 3px darkgreen;
    border-radius: 10px;
    color: white;
    font-size: 1rem;

    transition: all 0.2s ease;
}
.input-enviar:hover {
    background-color:darkgreen;
    border: solid 3px var(--color-primario);
    scale: 1.2;
}

/* CHECK TASKS */

check-tasks {
    margin-top: 10%;
    width: 60%;
}

.contenedor-marcar_tareas {
    background-color: var(--color-cuaternario);
    padding: 20px;
    border-radius: 10px;
}

.contenedor-tareas_select {
    background-color: var(--color-quinto);
    padding: 20px;
    border-radius: 10px;
}

.tarea-check {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 5px;
}

.nombre-tarea {
    padding: 5px;
    color: white;
    text-decoration: underline;
    font-size: 1.3rem;
}

.seleccionar-btn {
    background-color: transparent;
    border: none;
    padding: 5px;

    transition: all 0.3s ease;
}
.seleccionar-btn:hover {
    scale: 1.4;
}
/* CONTENEDOR BOTONES ACTIVAR */

.button-activate_add {
    padding: 10px 20px;
    background-color: var(--color-primario);
    border-top: 2px solid var(--color-terciario);
    border-right: 2px solid var(--color-terciario);
    border-left: 2px solid var(--color-terciario);
    border-bottom: none;
    border-radius: 10px;

    transition: background-color 0.3s ease;
}
.button-activate_add:hover {
    background-color: var(--color-secundario);
}

.disabled {
    padding: 10px 20px;
    background-color: var(--color-cuaternario);
    border-radius: 10px;
    border: none;

    transition: none;
}


/* ESTILOS TAREAS */

.prioridad-alta {
    background-color: #fe533e;
    border: 1px solid #ff1c00;
}
.prioridad-baja {
    background-color: #84df72;
    border: 1px solid #2aff00;
}

/* SECCION VER TAREAS */

state-tasks {
    margin-top: 10%;
    width: 75%;
    margin-bottom: 5%;
}

.contenedor-mostrar_tareas {
    display: flex;
    justify-content: space-around;
}

.contenedor-tareas_completadas {
    display: flex;
    flex-direction: column;
    background-color:#84df72;
    border: 2px solid #2aff00;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
}
.contenedor-tareas_fallidas {
    display: flex;
    flex-direction: column;
    background-color:#fe533e;
    border: 2px solid #ff1c00;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
}

.titulo-tareas_completadas {
    background-color: #2aff00;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.titulo-tareas_fallidas {
    background-color: #ff1c00;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.contenedor-mostrar{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.tarea-estado {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    height: 80px;
}

.button-ver {
    padding: 10px 30px;
    border: none;
    background-color: var(--color-primario);
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;

    transition: all 0.3s ease;
}

.button-ver:hover {
    scale: 1.1;
    background-color: white;
    border: solid 2px var(--color-primario);
    color: var(--color-primario);
}